<h1>
  {{ title }}
</h1>

<mat-tab-group #tabGroupId>
  <mat-tab label="Test">
    <!-- ng-template allows the tab content to be rendered when shown. -->
    <ng-template matTabContent>
      <gr-drawing></gr-drawing>
    </ng-template>
  </mat-tab>

  <mat-tab label="Fish Bowl">
    <ng-template matTabContent>
      <gr-fishbowl></gr-fishbowl>
    </ng-template>
  </mat-tab>

  <mat-tab label="Gravity">
    <ng-template matTabContent>
      <gr-gravity></gr-gravity>
    </ng-template>
  </mat-tab>

</mat-tab-group>