<button mat-raised-button (click)="clickStart()" style="margin: 5px;" value="">{{buttonText}}</button>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Frame Counter</mat-label>
    <input matInput #counterId [value]="frameCounter" [readonly]="true">
</mat-form-field>

<button mat-raised-button (click)="clickFrame()" style="margin: 5px;">Frame</button>

<button mat-raised-button (click)="clickClear()" style="margin: 5px;">Clear</button>

<mat-checkbox #collisionsId checked="{{collisions}}" (click)="clickCollisions(collisionsId.checked)">Collisions</mat-checkbox>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Duration (ms)</mat-label>
    <input matInput #durationId [value]="elapsedMilliseconds" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Frame Rate</mat-label>
    <input matInput #frameRateId [value]="frameRate" (keyup.enter)="onEnter(frameRateId.value)">
</mat-form-field>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Elements</mat-label>
    <input matInput #elementsId [value]="elements" [readonly]="true">
</mat-form-field>