<button mat-raised-button (click)="clickStart()" style="margin: 5px;" value="">{{buttonText}}</button>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Frame Counter</mat-label>
    <input matInput #counterId [value]="frameCounter" [readonly]="true">
</mat-form-field>

<button mat-raised-button (click)="clickFrame()" style="margin: 5px;">Frame</button>

<button mat-raised-button (click)="clickClear()" style="margin: 5px;">Clear</button>

<mat-checkbox [checked]="collisions">Collisions</mat-checkbox>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Duration (ms)</mat-label>
    <input matInput #durationId [value]="elapsedMilliseconds" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Width</mat-label>
    <input matInput #widthId [value]="width" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="legacy" class="gr-small-field">
    <mat-label>Height</mat-label>
    <input matInput #heightId [value]="height" [readonly]="true">
</mat-form-field>