<gr-animation-controls
    [elapsedMilliseconds]="elapsedMilliseconds"
    [elements]="elements"
    [frameCounter]="frameCounter"
    [frameRate]="frameRate"
    [height]="height"
    [width]="width"
    (clear)="clearCanvas()"
    (frame)="animateSingleFrame()"
    (frameRateChanged)="frameRateChanged($event)"
    (start)="toggleAnimation($event)">
</gr-animation-controls>

<div>
    <canvas #canvasId [width]="width" [height]="height" (window:resize)="onResize($event)">Canvas not supported.</canvas>
</div>