<mat-form-field appearance="fill">
    <mat-label>Level</mat-label>
    <input #levelId matInput [value]="level" (keyup.enter)="onEnter(levelId.value)">
</mat-form-field>

<button mat-raised-button (click)="clickClear()" style="margin: 10px;">Clear</button>

<mat-form-field appearance="legacy">
    <mat-label>Segments</mat-label>
    <input matInput [value]="segments" [readonly]="true">
</mat-form-field>

<mat-form-field appearance="legacy">
    <mat-label>Duration (ms)</mat-label>
    <input matInput [value]="elapsedMilliseconds" [readonly]="true">
</mat-form-field>