<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<gr-drawing id="theMainCanvas"></gr-drawing>

<!-- <script>
  // https://www.w3schools.com/TAgs/ref_canvas.asp

  var canvas = document.getElementById("theMainCanvas")
  var context = canvas.getContext("2d")

  context.beginPath();
  context.moveTo(0, 0);
  context.lineTo(300, 150);
  context.stroke();
</script> -->

<router-outlet></router-outlet>
