<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   {{ title }}
  </h1>
</div>

<!-- <mat-slider min="1" max="100" step="1" value="1"></mat-slider> -->

<mat-tab-group>
  <mat-tab label="Test">
    <!-- ng-template allows the tab content to be rendered when shown. -->
    <ng-template matTabContent>
      <gr-drawing></gr-drawing>
    </ng-template>
  </mat-tab>

  <mat-tab label="Dragon">
    <ng-template matTabContent>
      <gr-dragon-fractal></gr-dragon-fractal>
    </ng-template>
  </mat-tab>

  <mat-tab label="Koch">
    <ng-template matTabContent>
      <gr-koch-fractal></gr-koch-fractal>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>